* {
    -fx-font-family: Impact
}

.main-view-container {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.file-selection-container {
    -fx-alignment: center;
}

.track-controls-container {
    -fx-alignment: center;
}

.channels-controls {
    -fx-spacing: 5;
    -fx-background-color: #c4bbbb;
    -fx-padding: 20 20;
}

.channels-controls-container {
    -fx-alignment: center;
    -fx-padding: 20 20;
    -fx-background: transparent;
    -fx-background-color: transparent;
    /*-fx-background-color: #c4bbbb;*/
}

.keyboard-container {
    -fx-alignment: center;
    -fx-padding: 20 20;
    -fx-background-color: #c4bbbb;
}

.white-key-container {
    -fx-alignment: baseline-center;
}

.buttons-container {
    -fx-spacing: 30;
}

.channel-container {
    -fx-spacing: 30;
}

.file-selection-inner-container {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.file-input-container {
    -fx-spacing: 10;
    -fx-alignment: baseline-center;
}

.key {
    -fx-cursor: hand;
}

.key.white-key {
    -fx-fill: white;
}

.key.black-key {
    -fx-fill: black;
}

.midi-file-combo-box {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.midi-file-combo-box .list-cell, .combo-box {
    -fx-cursor: hand;
}

.midi-file-combo-box .list-cell, .combo-box .text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.select-file-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.selected-file-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-max-width: 200;
}

.rewind-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 120;
    -fx-cursor: hand;
}

.play-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 120;
    -fx-cursor: hand;
}

.stop-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 120;
    -fx-cursor: hand;
}

.channel-radio-button {
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-pref-width: 150;
    -fx-text-fill: black;
}

.mute-channel-box {
    -fx-text-fill: black;
    -fx-font-size: 13;
}

.solo-channel-box {
    -fx-text-fill: black;
    -fx-font-size: 13;
}

.note-label {
    -fx-font-size: 14;
}

.bpm-container {
    -fx-alignment: baseline-center;
    -fx-spacing: 5;
}

.bpm-label {
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.bpm-text-field {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-size: 14;
    -fx-pref-width: 50;
}

.track-controls {
    -fx-spacing: 20;
}

.instrument-combo-box {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.instrument-combo-box .list-cell, .combo-box {
    -fx-cursor: hand;
}

.instrument-combo-box .list-cell, .combo-box .text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.reset-instrument-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}