.main-view-container {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.file-selection-container {
    -fx-alignment: center;
}

.track-controls-container {
    -fx-alignment: center;
}

.keyboard-container {
    -fx-alignment: center;
}

.buttons-container {
    -fx-spacing: 30;
}

.key {

}

.key.white-key {
    -fx-fill: white;
}

.key.white-key:pressed {
    -fx-fill: #dcdcff;
}

.key.black-key {
    -fx-fill: black;
}

.key.black-key:pressed {
    -fx-fill: #dcdcff;
}